<h2>Sign in</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}

  <input type="text" name="username" placeholder="Username" required><br><br>

  <input type="email" name="email" placeholder="Email"><br><br>

  <input type="password" name="password" placeholder="Password" required><br><br>

  <input type="password" name="password2" placeholder="Confirm Password" required><br><br>

  <button type="submit">Sign in</button>
</form>

<p>
  Already have an account? <a href="{% url 'accounts:login' %}">Login</a>
</p>

