<h2 style="text-align:center;">Profile</h2>

<div style="text-align:center;">
    {% if profile.photo %}
        <img src="{{ profile.photo.url }}" width="120" style="border-radius:50%;">
    {% endif %}

    <p>{{ request.user.username }}</p>
    <p>
        {{ profile.bio|default:"No bio yet" }}
    </p>
</div>

<hr>

<h3>Update Bio</h3>

{% if messages %}
  {% for message in messages %}
    {% if "Profile" in message|stringformat:"s" or "Bio" in message|stringformat:"s" %}
      <p style="color:green;">{{ message }}</p>
    {% endif %}
  {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<div style="margin-top:25px; text-align:center;">

    <a href="{% url 'accounts:settings' %}">
        <button type="button" style="
            padding:8px 16px;
            margin-right:10px;
            background:#6c757d;
            color:white;
            border:none;
            border-radius:5px;
        ">
            Settings
        </button>
    </a>

    <a href="{% url 'accounts:logout' %}">
        <button type="button" style="
            padding:8px 16px;
            background:#dc3545;
            color:white;
            border:none;
            border-radius:5px;
        ">
            Logout
        </button>
    </a>

</div>